header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
  margin: 0;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin-top: 30px;
  margin: 0;
}
h1,
h2,
h3 {
  font-style: normal;
  text-align: center;
}
header h3 {
  font-weight: 900;
  line-height: 1.5;
  font-size: 24px;
  margin-top: 80px;
  letter-spacing: 5px;
  margin: 0;
}
body {
  background-color: black;
  color: white;
  font-family: "Poppins";
}
header a {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  padding: 16px 32px;
  border-radius: 2px;
  letter-spacing: 3px;
  margin: 48px auto;
  display: block;
  color: black;
  background: white;
  max-width: 200px;
  text-transform: uppercase;
}

footer {
  margin-top: 30px;
  font-size: 12px;
  background-image: linear-gradient(rgba(20, 1, 30, 0.6), rgba(20, 1, 30, 0.6)),
    url("images/LagunaColorada.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding: 100px 0;
  text-align: left;
}
footer h3 {
  text-align: left;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

a {
  text-decoration: none;
  color: darkviolet;
}

header {
  background-image: url("images/LaPazNightIllimani.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px;
  background-position: center;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
section {
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 4fr;
  grid-gap: 30px;
}

footer a {
  color: white;
  opacity: 0.7;
  text-decoration: underline;
}
footer p {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  opacity: 0.9;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.8;
}
footer ul {
  margin: 0;
  padding: 0;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
    line-height: 1;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    padding-right: 60px;
    padding-left: 60px;
  }
  footer {
    padding: 30px 0;
  }
}

.below {
  text-align: center;
  background-image: none;
  margin: 0;
  padding: 30px;
}
.footer2 {
  text-decoration: none;
}
